<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"
          th:href="@{/css/bootstrap.min.css}">

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>Checkout</title>
</head>
<body>
<div class="container">
    <h2>Checkout Form</h2>

    <form class="form-horizontal" th:object="${checkoutCommand}" th:action="@{/docheckout}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{checkoutCommand.hasErrors}">Error Message</p>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('firstName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('firstName')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                       </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('lastName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('lastName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('addressLine1')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Address Line 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine1}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('addressLine1')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Address Line 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine2}"/>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('city')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">City:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{city}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('city')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('city')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('stateCode')} ? 'form-group has-errors' : 'form-group'">
            <label class="col-sm-2 control-label">State Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{stateCode}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('stateCode')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('stateCode')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('zipCode')} ? 'form-group has-errors' : 'form-group'">
            <label class="col-sm-2 control-label">Zip Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{zipCode}" th:errorclass="is-invalid"/>

                <span class="form-text" th:if="${#fields.hasErrors('zipCode')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
>
<script src="../static/js/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"
        th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>