<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Inside div class="row" which adds additional spacing</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Inside div class="row" which adds additional spacing + "col-md-12"</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Paragraph inside div class="row" which adds additional spacing + "col-md-6"</p>
        </div>
        <div class="col-md-6">
            <p style="color: red">Paragraph inside div class="row" which adds additional spacing + the second "col-md-6"
                in the same row</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background: gray">
            <div class="row">
                <div class="col-md-6" style="background: aqua">
                    <p>Nested "col-md-6"</p>
                </div>
                <div class="col-md-6">
                    <p>Second nested "col-md-6"</p>
                </div>
            </div>
            <p style="color: red">Paragraph inside div class="row" which adds additional spacing + "col-md-6".
                Background added</p>
        </div>
        <div class="col-md-6" style="background: green">
            <p style="color: red">Paragraph inside div class="row" which adds additional spacing + the second "col-md-6"
                in the same row. Background added</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>assignment h1</h1>
            <h2>assignment h2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3" style="background: yellow">
            <p>assignment p with offset 3 spaces, with changed background color</p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>